<nav class="navbar">
  <a class="navbar-brand"><i class="fas fa-film"></i></a>
  <div>
    <div class="navbar-nav">
      <%= link_to "My Lists", lists_path, class:"nav-item nav-link active" %><span class="sr-only">(current)</span>
    </div>
  </div>
</nav>
